<% if suites.all? { |_s, suites| suites.empty? } %>
  <p>There are no suites yet.</p>
<% else %>
  <ul class="tabs" data-tabs id="suite-size-tabs">
    <% sizes.each do |size| %>
      <li class="tabs-title<%= sizes.first == size ? ' is-active' : '' %>">
        <a href="#suite-size-<%= size %>"><%= headerize_size(size) %></a>
      </li>
    <% end %>
  </ul>
  <div class="tabs-content" data-tabs-content="suite-size-tabs">
    <% sizes.each do |size| %>
      <div class="tabs-panel<%= sizes.first == size ? ' is-active' : '' %>" id="suite-size-<%= size %>">
        <% if diff.present? && suite_counts.present? && group_counts.present? %>
          <h3 class="h4"><%= headerize_size(size) %><%= ' (locked)' if @draw.size_restricted?(size) %> - <span class="suite-size-header <%= diff_class(diff[size]) %>"><%= "#{pluralize(suite_counts[size], 'suite')}, #{pluralize(group_counts[size], 'group')}" %><%= oversub_str(diff[size]) %></span></h3>
        <% else %>
          <h3 class="h4"><%= headerize_size(size) %></h3>
        <% end %>
        <% if suites[size].empty? %>
          <p>No suites of size <%= size %></p>
        <% else %>
          <table aria-label="Suite Report" class="suite-report-1">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col"># Singles</th>
                <th scope="col"># Doubles</th>
                <th scope="col"># Common Rooms</th>
                <th scope="col">Draw(s)</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% suites[size].each do |suite| %>
                <tr id="suite-<%= suite.id %>">
                  <th scope="row" data-role="suite-name"> <%= suite.name %> </th>
                  <td data-role="suite-singles"><%= suite.singles.count %></td>
                  <td data-role="suite-doubles"><%= suite.doubles.count %></td>
                  <td data-role="suite-commons"><%= suite.common_rooms.count %></td>
                  <td data-role="suite-draws">
                    <%= render partial: 'suites/draw_link', collection: suite.draws.active, spacer_template: 'shared/comma' %>
                  </td>
                  <td class="actions" data-role="suite-actions">
                    <%= link_to 'View', suite_path(suite), class: 'button' if policy(suite).show? %>
                    <% if policy(suite).edit? %>
                      <%= link_to 'Edit', edit_suite_path(suite), class: 'button' %>
                    <% end %>
                    <% if policy(suite).destroy? %>
                      <%= link_to 'Delete', suite_path(suite), method: :delete, data: { confirm: 'Are you sure you want to delete this suite?' }, class: 'button alert' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
