<% provide(:title, "#{@draw.name} - Handle Oversubscription") %>
<h1><%= @draw.name %> - Handle Oversubscription</h1>
<div class="contextual-draw-buttons">
  <% if policy(@draw).prune? %>
    <%= link_to 'Resolve oversubscription for all sizes', prune_draw_path(@draw, 'all'),
      method: :delete, class: 'button alert',
      data: { confirm: 'This will randomly disband groups so that there is '\
              'no more oversubscription. The disbanded groups cannot be restored. '\
              'Are you sure you want to continue?' } %>
    <% @draw.oversubscribed_sizes.each do |size| %>
      <%= link_to "Resolve #{headerize_size(size)}", prune_draw_path(@draw, size),
        method: :delete, class: 'button alert', id: "fix-oversub-size-#{size}",
        data: { confirm: 'This will randomly disband groups so that '\
                "#{headerize_size(size).downcase} are no longer oversubscribed. "\
                'The disbanded groups cannot be restored. Are you sure you want to continue?' } %>
    <% end %>
  <% end %>
</div>
<div class="oversub-report">
  <%= render 'oversub_report', draw: @draw, path: oversub_draw_path(@draw) %>
</div>
<div class="group-report">
  <%= render 'group_report', sizes: @draw.oversubscribed_sizes, groups: @draw.groups_by_size,
    diff: @draw.oversubscription, group_counts: @draw.group_counts,
    suite_counts: @draw.suite_counts, actions_partial: 'groups/actions',
    path: oversub_draw_path(@draw) %>
</div>
<%= link_to 'Return to draw', draw_path(@draw) %>
